@import '../../assets/style/config';

#feed-needs {
  display: flex;
  width: 100%;
  max-width: $max-width;
  margin: auto;
  padding: 40px 30px;
  box-sizing: border-box;

  ul {
    width: 100%;
    padding: 0;

    h3 {
      font-family: $font-text;
      font-size: $preamble-size;
      font-weight: bold;
      text-align: left;
      margin: 0;
      padding: 0;

      @media (max-width: 674px) {
        font-size: 14px;
      }

      @media (max-width: 424px) {
        font-size: 12px;
      }
    }

    li {
      text-align: left;
      list-style-type: none;
      padding: 10px 0;
      min-width: 70px;

      &:nth-child(even) {
        background-color: rgba($white, 0.4);
      }
    }

    .feed-clearfix {
      height: 60px;
    }
  }

  #feed-labels {
    max-width: fit-content;
    text-align: left;
    text-transform: capitalize;
    font-weight: bold;

    li {
      min-width: unset;
      padding: 10px;
    }
  }

  @media (max-width: 424px) {
    padding: 0;
  }
}

.result-section {
  margin: 80px auto;

  .flex-wrapper {
    display: flex;
    justify-content: space-between;
  }

  #save-calculation {
    color: #000;
    margin: auto;
    margin-right: 0;
    white-space: nowrap;
    padding: 10px 35px;
    background-color: $aqua;
    font-size: 1rem;
    border: 0;
    border-radius: 25px;
    box-shadow: 2px 2px 5px rgba(#000, 0.4);

    &:hover {
      background-color: lighten($aqua, 5%);
    }
  }
}

#calculation-errors {
  background: #fff;
  padding: 10px;
  outline: 5px solid $red;
  border-radius: 20px;
  margin-bottom: 80px;

  li {
    margin: 15px;
    list-style-type: none;
    padding-left: 30px;

    span {
      font-weight: 700;
    }
  }
}

.result-wrapper {
  display: flex;
  width: 100%;
  max-width: 1000px;
  flex-wrap: wrap;
  margin: 30px auto;
  font-family: $font-text;
  font-weight: 700;

  .profile-name {
    flex-basis: 100%;
    text-align: center;
    margin: 0;
  }

  section {
    width: 100%;
    font-family: $font-heading;
    flex-basis: 22.5%;

    h2 {
      text-align: left;
      text-transform: capitalize;
      font-size: 1.5rem;
      margin: 20px 0;
      font-weight: unset;
      white-space: nowrap;
      font-family: $font-text;
      font-weight: 700;
      font-size: 1rem;

      @media screen and (max-width: $tablet) {
        text-align: left;
        margin-left: calc(25% + 20px);
      }

      @media screen and (max-width: 1023px) and (min-width: 769px) {
        font-size: 1.1rem;
      }
    }

    ul {
      display: block;
      padding: 0;
      margin: 0;

      li {
        list-style-type: none;
        display: block;
        min-height: 25px;
        text-align: left;
        justify-content: center;
        align-content: center;
        box-sizing: border-box;
        line-height: 25px;
        margin: 20px 0;

        @media screen and (max-width: $tablet) {
          text-align: left;
          padding-left: 10px;
          display: block;
          flex-basis: 60%;
        }
      }

      label {
        display: none;
        hyphens: auto;
        margin-right: 15px;

        @media screen and (max-width: $tablet) {
          display: block;
          flex-basis: 25%;
          text-align: right;
        }
      }

      li:nth-of-type(odd) {
        background-color: rgba($color: $white, $alpha: 0.5);

        &.high-value,
        .low-value {
          background-color: rgba($color: #ff0000, $alpha: 0.3) !important;
        }
      }

      .low-value:nth-of-type(odd),
      .high-value:nth-of-type(odd) {
        background-color: rgba($color: #ff0000, $alpha: 0.4) !important;
      }

      .good-value:nth-of-type(odd) {
        background-color: rgba($color: #008000, $alpha: 0.4) !important;
      }

      @media screen and (max-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
      }
    }

    &.result-labels {
      margin-top: calc(1.5rem + 13px);
      width: 50%;
      flex-basis: 9%;

      ul {
        margin: 0;

        li {
          text-align: right;
          background: transparent;
          padding-right: 10px;
          white-space: nowrap;

          &:nth-of-type(odd) {
            background-color: rgba($color: $white, $alpha: 0.5);
          }
        }
      }
    }

    @media screen and (max-width: $tablet) {
      flex-basis: unset;
      border: 0;
    }

    @media screen and (max-width: 1023px) and (min-width: 769px) {
      flex-basis: 22%;
    }
  }

  .high-value,
  .low-value {
    color: black;
    background-color: rgba($color: #ff0000, $alpha: 0.5) !important;
  }

  .good-value {
    background-color: rgba($color: green, $alpha: 0.5) !important;
  }

  @media screen and (max-width: $tablet) {
    flex-wrap: wrap;
    flex-basis: 16.6%;

    .result-labels {
      display: none;
    }
  }
}
