@import '../../assets/style/config';

.feedrow {
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;

  .feedrow-content {
    visibility: visible;
    height: 100%;
    display: flex;
    flex-direction: column;

    .btn-edit:not(.form-feed-submit) {
      margin: 20px auto 30px;
    }
  }

  hr {
    border-top: 1px solid lighten($yellow, 20%);
    height: 0px;
    width: 100%;
  }

  table {
    margin: 20px 0;
    box-sizing: border-box;
    position: relative;
  }

  th {
    text-align: left;
  }

  tr:not(:first-of-type) {
    &::after {
      content: ' ';
      right: 0;
      left: 0;
      display: flex;
      position: absolute;
      height: 1px;
      background: $light-aqua;
    }
  }
}