@import '../../assets/style/config';

.help-wrapper {
  // position: relative;
  margin-left: auto;
  margin-right: 0;
  display: flex;
  justify-content: center;

  .btn-circle {
    margin-right: 0;
    margin-left: auto;

    svg {
      height: 2em
    }

  }

  #overlay {
    display: block;
    background-color: rgba($color: $aqua, $alpha: 0.2);
    backdrop-filter: blur(2px);
    position: fixed;
    border-radius: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 11;
  }

  @media screen and (max-width: 650px) {
    flex: 1;
    margin: 0;
  }

  @media screen and (max-width: 400px) {
    order: 0;
    width: 100%;
    flex-basis: 100%;
  }
}

#help-box {
  position: absolute;
  box-sizing: border-box;
  transform: translateX(-50%);
  left: 50%;
  max-width: $max-width;
  min-width: 300px;
  width: 90vw;
  height: fit-content;
  background: rgba($white, 0.8);
  border: 1px solid $aqua;
  border-radius: 5px;
  padding: 20px;
  z-index: 12;
  top: 20px;

  .flex-row {
    display: flex;
    height: fit-content;

    button {
      @media screen and (max-width: 400px) {
        order: 1;
        flex-basis: 100%;
      }
    }

    h4 {
      margin: 20px 0;

      @media screen and (max-width: 400px) {
        order: 2;
        flex-basis: 100%;
      }
    }

    @media screen and (max-width: 400px) {
      flex-wrap: wrap;
    }
  }

  a {
    color: $dark-blue;
    text-decoration: none;
    font-weight: bold;

    svg {
      margin-left: 15px;
      margin-bottom: -2px;
    }
  }

  @media screen and (max-width: 1040px) {
    max-width: calc(100vw - 40px)
  }
}