@import '../../assets/style/config';

.collapsible-widget-wrapper {
    display: block;
    background: lighten($light-aqua, 55%);
    border-radius: 20px;
    filter: drop-shadow($drop-shadow-medium);
    margin-bottom: 5px;

    .widget-header {
        padding: 20px 40px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        .title-text {
            display: block;
            width: 100%;
            height: 100%;

            &>* {
                margin: 0;

                @media (max-width: $tablet) {
                    font-size: 14px;
                }
            }
        }

        svg {
            margin: auto 0 auto 20px;
            width: 23px;
            height: 23px;
            max-width: 23px;
        }

        .header-title {
            display: flex;
            flex: 1 1 auto;

            .widget-icon {

                svg {
                    margin: auto 20px auto 0;
                }


                @media (max-width: 500px) {
                    display: none;
                }
            }

        }

        &.slim {
            padding: 10px 20px;

            >svg {
                max-width: 15px
            }

            .title-text>* {
                margin: auto;
                font-size: 18px;
            }
        }

        &.left {
            .title-text>* {
                margin-left: 0;
            }
        }
    }

    .widget-body {
        overflow: hidden;
        overflow: auto;

        max-height: 0;
        transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);

        &.open {
            max-height: 400px;
            transition: max-height 0.7s ease-in-out;
        }
    }
}