// ### Colors.
$aqua: #61c9a8;
$light-aqua: #c3ebde;
$dark-blue: #153b50;
$black: #1c0f13;
$yellow: #feb95f;
$red: #ba3b46;

// Gray.
$primary_gray: #3c3c3f;
$secondary_gray: #606068;
$light_gray: #7a7a82;

// White.
$white: #ffffff;

// Orange.
$accent_color: #f7931e;

// ### Fonts.
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Raleway:wght@500;700;900&display=swap');

$font-heading: 'Raleway', sans-serif;
$font-text: 'Montserrat', sans-serif;

$lineheight-h1: 135%;
$lineheight-h2: 115%;
$lineheight-h3: 100%;
$lineheight-text: 160%;

// ### Breakpoints

// ### Other
$max-width: 1000px;
